body {
	background-color: red;
	font-family: Calibri, Myriad;
}

#main {
	width: auto;
	padding: 20px;
	margin: auto;

}

table.userTable {
	margin: auto;
	width: 600px;
	border-collapse: collapse;
	border: 1px solid #fff; /*for older IE*/
	border-style: hidden;
    background-color: black;
}

table.userTable caption {
	background-color: #f79646;
	color: #fff;
	font-size: x-large;
	font-weight: bold;
	letter-spacing: .3em;
}

table.userTable thead th {
	padding: 8px;
	background-color: #fde9d9;
	font-size: large;
}

table.userTable thead th#thDay {
	width: 40%;	
}

table.userTable thead th#thRegular, table.userTable thead th#thOvertime, table.userTable thead th#thTotal {
	width: 20%;
}

table.userTable th, table.userTable td {
	padding: 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #f79646 #ccc;
}

table.userTable td {
	text-align: right;
}

table.userTable tbody th {
	text-align: left;
	font-weight: normal;
}

table.userTable tfoot {
	font-weight: bold;
	font-size: large;
	background-color: #687886;
	color: #fff;
}

table.userTable tr.row {
	background-color: #fde9d9;
}